@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

.App {
  text-align: center;
  background-color: #fbf4ea;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}
.home-container{
  height: 100vh;
  max-width: 650px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin:auto;
}

.h1-title{
  color:#403F2B;
  font-size: 36px;
  font-family: Lora, sans-serif;
  margin:0;
  margin-bottom: 12px;
}
h2{
  color:#403F2B;
  font-size: 28px;
  font-family: Lora, sans-serif;
}
h3{
  color:#403F2B;
  font-size: 20px;
  font-family: Lora, sans-serif;
  margin:0;
}

p{
  color: #6f685e;
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  
  line-height: 20px;
}